<body>
  <div class="top">
      <header>
        <!-- <div class="menu">
          <ul>
            <li>マイページ ▼</li>
            <li>ホーム ▼</li>
            <li>新着 ▼</li>
          </ul>
        </div> -->
      </header>
      <div class="title">
        <div class="title1">留学生にアルバイトを！</div>
        外国人留学生のアルバイト支援サービスです。</br>
        アルバイトの検索から、応募、面接、何でもお手伝いします。</br>
      </br>

        <input class="button" type="button" onclick="location.href='#jump'"value="相談する">

      </div>
  </div>

  <div class="space">
  </div>

  <div class="introduction">
    日本でアルバイトやお仕事を探すのはとても大変です。</br>
    募集記事のほとんどが日本語で書かれており、面接やお仕事中の会話ももちろん日本語です。</br>
    希望するお仕事に就けなかったり、ずっと決まらなかったりするのではないでしょうか。</br>
    〜〜は日本に住む外国人の為の就職サポートです！</br>
  </div>


  <div class="space">
  </div>


  <div class="contents clearfix">

    <div class="left-content">
      <img src= 'assets/166668743.jpg'  class="intro-image" >
      <div class="content-bun">
      どうやって日本でのアルバイトを探せばいいか分からない・・・。</br>
      近くに相談出来る人もなかなかいない。
      </div>
    </div>

    <div class="middle-content">
      <img src= 'assets/623512118.jpg'  class="intro-image" >
      <div class="content-bun">
      そもそも日本語ばかりの求人サイトに求人紙。</br>
      なんて書いてるかさっぱり分からず、どれに応募出来るのかも全然分からない。
      </div>
    </div>

    <div class="right-content">
      <img src= 'assets/160649652.jpg'  class="intro-image" >
      <div class="content-bun">
      面接って何を話すの？どうすればいいの？</br>
      うまく自分の事も伝えられないから、全然雇ってもらえない。</br>
      </div>
    </div>
  </div>

  <div class="space">
  </div>

  <name="jump" id="jump"></a>

  <div class="introduction2_soto">
      <ol class="introduction2">
        <li><font class="lic">下記フォームを入力し、送信してください！</font></li>
        <li><font class="lic">弊社から順番にご連絡します</font></li>
        <li><font class="lic">基本的には直接お会いし、お話を伺います</font></li>
        <li><font class="lic">条件などを確認しながら、一緒にお仕事探し！</font></li>
        <li><font class="lic">応募から面接、就職までサポートとアドバイスも致します</font></li>
          <div class="introduction2-1">
            お気軽にご応募ください！
          </div>
        </ol>
    </div>

    <div class="oubo_form">
        <%= form_for @subscribe, url:top_index_path do |f| %>
        <table class="oubo_form_t">
          <tr class="form_c">
            <th>
              <%= f.label :name, 'お名前：' %>
            </th>
            <td>
              <%= f.text_field :name, placeholder:"名前を入力してください" %>
            </td>
          </tr>

          <tr class="form_c">
            <th><label>性別：</label></th>
            <td>
              <label class="radio_sex">
                <%= f.radio_button :sex, 1   %>男性
              </label>
              <label class="radio_sex">
                <%= f.radio_button :sex, 2 %>女性
              </label>
            </td>
          </tr>

          <div class="form_c">
            <tr class="birth_date_field">
              <th>
                <%= f.label :birth_date,'生年月日：' %>
              </th>
              <td>
                <%= f.date_select(
                :birth_date,
                use_month_numbers: true,
                start_year:     1930,
                end_year:       (Time.now.year - 10),
                default:        Date.new(1989, 1, 1),
                date_separator: '/') %>
              </td>
            </tr>
          </div>

            <tr class="form_c">
              <th>
                <%= f.label :telephone, '電話番号：' %>
              </th>
              <td>
                <%= f.telephone_field :telephone, size: 15, maxlength: 20, placeholder:"電話番号を入力してください" %>
              </td>
            </tr>

            <tr class="form_c">
              <th>
                <%= f.label :email, 'メールアドレス：' %>
              </th>
              <td>
                <%= f.email_field :email, size: 25, maxlength: 30, placeholder:"メールアドレスを入力してください" %>
              </td>
            </tr>

            <tr class="form_c">
              <th>
                <%= f.label :address, 'お住いのエリア：' %>
              </th>
              <td>
                <%= f.select :address, [["東京都", "東京都"], ["埼玉県", "埼玉県"], ["千葉県", "千葉県"], ["神奈川県", "神奈川県"], ["その他", "その他"]] , :include_blank => true %>
              </td>
            </tr>

            <tr class="form_c">
              <th>
                <%= f.label :job, '現在の職業：' %>
              </th>
              <td>
                <%= f.select :job, [["留学生", "留学生"], ["ワーキングホリデー", "ワーキングホリデー"], ["フリーター", "フリーター"], ["主婦・主夫", "主婦・主夫"], ["社員", "社員"], ["無職", "無職"], ["その他", "その他"]] , :include_blank => true %>
              </td>
            </tr>

            <tr class="form_c">
              <th>
                <%= f.label :nationality, '国籍：' %>
              </th>
              <td>
                <%= f.text_field :nationality, placeholder:"国籍を入力してください" %>
              </td>
            </tr>

            <tr class="form_c">
              <th>
                <%= f.label :lang_level, '日本語の能力：' %>
              </th>
              <td>
                <%= f.select :lang_level, [["初学者", "初学者"], ["初級", "初級"], ["中級", "中級"], ["上級", "上級"]] , :include_blank => true %>
              </td></br>
            </tr>
            <tr class="form_setsumei">
              <th colspan="2">
                初学者：ほとんど喋れない</br>
                初級：カタコトレベル、簡単な会話ができる</br>
                中級：日常会話レベル、日常生活で単語を組み合わせて会話が出来る</br>
                上級：ビジネスレベル、日本人と同等に、流暢に会話が出来る</br></br>
              </th>
            </tr>

            <tr class="form_comment">
              <th>
                <%= f.label :comment, '自己紹介・希望条件など：' %>
              </th>
              <td>
                <%= f.text_area :comment, cols:"40", rows:"8", placeholder:"自己紹介・希望の条件などを入力してください" %>
              </td>
            </tr>
          </table>
          <div class="space">
          </div>
          <div class="button_area">
            <!-- <%= f.submit '送信する', class: "button"%> -->
            <input type="button" value="送信する" class="button" onClick="submit()" >
          </div>

        <% end %>
      </div>
      <div class="space">
      </div>
      <div class="space">
      </div>
      <div class="space">
      </div>

      <footer>
        <div class="footer">Copyright(C) 〜〜〜〜〜 RESERVED.</div>
      </footer>
    </body>
